<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css">
        <title>Hilda |
            {% block title %}Home{% endblock %}
        </title>
    </head>

    <body>
        <header>
            {% include "_navbar.njk" %}
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% block footer %}
                <p>
                    <a href="https://www.destacks.com/">Destacks</a>, 2021</p>
            {% endblock %}
        </footer>

        <script src="index.js"></script>
    </body>

</html>